<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <form action="/" method="post">
    <section class="form-register">
        <h4>formularios</h4>
        <label for="email">email</label>
        <input class="controls" type="email" name="email" id="email" placeholder="ingrese su email">
        <label for="name">nombre</label>
        <input class="controls" type="text" name="name" id="name" placeholder="ingrese su nombre">
        <label for="comment">comentario</label>
        <textarea class="controls" name="comment" id="comment" cols="30" rows="10" placeholder="comentario"></textarea>
        <p>estoy de acuerdo con <a href="#">terminos y condiciones</a></p>
        <input class="botons" type="submit" >
        <p><a href="#">politica de privacidad</a></p>
    </section>  
    </form>
    
  </body>
</html>
