<%- include('template/headboard.ejs')  %>
<body>
  <form action="/login" method="post">
    <section class="form-register">
      <h4>formularios</h4>
      <label for="email">email</label>
    <input class="controls" type="text" name="username" id="">
    <label for="password">password</label>
    <input class="controls" type="password" name="password" id="">
    <input class="submit" type="submit" value="enviar">
    

    <script src="https://accounts.google.com/gsi/client" async defer></script>
  <div id="g_id_onload"
     data-client_id='544811511604-j8u26ku1u5v9j40j4n7hmont7l6qlppa.apps.googleusercontent.com'
     data-context="signin"
                    data-ux_mode="popup"
                    data-callback="onSignIn"
                    data-login_uri="http://localhost:3000/logueo"
                    data-auto_prompt="false">
  </div>
  <div class="g_id_signin"
     data-type="standard"
     data-size="large"
     data-theme="outline"
     data-text="sign_in_with"
     data-shape="rectangular"
     data-logo_alignment="left">
  </div>
  </section>
  </form>
</body>
</html>